.large-text {
  font-size: 2rem;
  font-weight: bold;
  color: #2e4008;
  font-family: 'Dancing Script', cursive;
}

@media (min-width: 768px) {
  .large-text {
    font-size: 3rem;
  }
}

h3 {
  text-shadow: 0px 0px 10px #5cfaff,
               0px 0px 20px #5cfaff,
               0px 0px 20px #5cfaff;
}

.practice-singlee.header {
  position: relative;
  overflow: hidden;
}

.practice-singlee:hover {
  border-color: #600000; /* Darker maroon border on hover */
}

.responsive-video {
  max-width: 100%; /* Ensures video fits within container */
  height: auto; /* Maintains aspect ratio */
}

/* Mobile Styles */
@media (max-width: 768px) {
  .intro_box {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .practice-single {
    width: 100%; /* Take full width on mobile */
    margin-bottom: 1rem; /* Add spacing between stacked elements */
  }
}

.intro_box video {
  max-width: 100%; /* Ensure video doesn't exceed parent container width */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 769px) {
  .practice-single {
    animation: fadeInDown 1.5s ease-in-out;
  }
}

.text-overlay {
  margin-top: 1rem;
  background-color: rgba(248, 229, 215, 0.6);
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1;
  position: static;
  width: 100%; 
}

.text-overlay p {
  margin: 0;
  text-align: center;
}
