
  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

 .tradpaanMainContainer {
  
  
  /* background: linear-gradient(270deg, #686c66, #3e7557, #08e63f, #c5eb08,  #08ebc9,  #6b27ea,  #eb0854);
  background-size: 800% 800%;
  animation: gradientBackground 10s ease infinite; */
  background:#fff5f5;
}


.tpflexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #0a402b;
}

.tpflexRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

@media (min-width: 1024px) {
  .flexRow {
    flex-direction: row;
  }
}

.tpheader {
  font-size: 50px;
  color: #f3bd66;
  text-align: center;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-weight: 800;
  margin-left: 2rem;
}

@media (max-width: 1024px) {
  .header {
    margin-left: 0;
  }
}

.tpRowOne{
  width: 50%;
  margin: 30px;
}

.tpformContainerStyle{
  width: 100%;
  margin: 30px;
  padding: 2rem;
  background: #ffeee2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tpimageStyle {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.tpheadingStyle{
  border-bottom: 2px solid #091E3E;
  width: 100%;
  text-align: center;
  color: #911E32;
  padding: 10px 0;
}

.tpformStyle{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.tpinputStyle{
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 2px solid red;
  margin-bottom: 20px;
}


.sliderContainer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100vw * 0.46875); 
}

@media (max-width: 640px) {
  .sliderContainer {
    height: calc(100vw * 0.5625); 
  }
}



.sliderImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 2s ease-in-out;
  z-index: 0;
  object-fit: contain;
  object-position: center;
}

.sliderImage.active {
  opacity: 1;
  z-index: 10;
}

.sliderImage.inactive {
  opacity: 0;
  z-index: 1;
}


/* .sliderImage.active {
  opacity: 1;
  z-index: 10;
}

.sliderImage.inactive {
  opacity: 0;
  z-index: 1;
} */






