
.about_sec {
  /* other styles */
}

.section-title {
  /* other styles */
}

.about-text {
  font-size: 2rem; /* Increase the font size as needed */
  font-weight: bold; /* Optional: Make the text bold */
  color: #ebf08c; /* Ensure this matches your desired color */
}

@media (min-width: 768px) {
  .about-text {
    font-size: 3rem; /* Adjust for larger screens */
  }
}

.text-pop-out {
  animation: pop-out 4.5s ease-out forwards;
}

/* Define the pop-out keyframes */
@keyframes pop-out {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}