
 @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 .visionMainContainer{

    min-height: 80vh;
    display: flex;
    justify-content: center;
    
    align-items: center;
    background: linear-gradient(270deg, #686c66, #3e7557, #08e63f, #c5eb08,  #08ebc9,  #6b27ea,  #eb0854);
    background-size: 800% 800%;
    animation: gradientBackground 10s ease infinite;

 }