
 /* @media (max-width: 640px) 
    .hero-video {
      height: 1000px;
    }
   */

   @media(min-width: 400px) and (max-width: 640px) {
    .hero-video-mobile {
      height: 250px;
      margin: 0; 
      padding: 0; 
      position: absolute; 
      top: 0;
      left: 0;
      
    }
  }
  

  .custom-title {
    color: #791917; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
  }
  
  