
 /* @media (max-width: 640px) 
    .hero-video {
      height: 1000px;
    }
   */

   @media(min-width: 400px) and (max-width: 640px) {
    .hero-video-mobile {
      height: 250px;
      margin: 0; /* Removes all margins */
      padding: 0; /* Removes all padding */
      position: absolute; /* Ensures the video is positioned absolutely */
      top: 0; /* Aligns the video to the top of the screen */
      left: 0;
      
    }
  }
  
  