/* styles/InfiniteMovingCards.module.css */
.movingCards {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.card {
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust as needed */
  padding: 10px; /* Optional: Add padding if needed */
  background-color: #096067; /* Optional: Background color for cards */
  border-radius: 8px; /* Optional: Border radius for cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for cards */
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


